*{box-sizing: border-box;
    padding:0;
    margin:0;
    font-size: 1.2rem;
    line-height:1.7rem;
    }
    
img{
    width: 60%;
}

p{
    text-align: justify;
}

header, footer{
    margin-top: 50px;
}

.site-class{
    font-weight: 900;
    text-align: center;
  
}
section, article{
    padding-top: 20px;
}
ul{
    padding-left: 30px;
}
li{
    padding-left: 5px;
}
a{text-decoration: none;}