/* *Universal settings for all elements: font and spaces between lines are increased */
*{
    font-size: 1.2rem;
    line-height:1.7rem;
    }
/* *Margin-top for content elements */
header, footer, section, article{
    margin-top: 20px;
}

/* *Header's paragraph */
.header-paragraph{
    font-weight: 900;
    text-align: center;
}
img{
    width: 60%;
}

p{
    text-align: justify;
}
