.line{
  width: calc(100% - 50px);
  position: absolute;
 
  height: 3px;
  background-color: white;
  position: absolute;

  &--45{
    transform: rotate(45deg);
  }
  &--90{
    transform: rotate(90deg);
  }
  &--135{
    transform: rotate(135deg);
  }
}