/* *Universal settings for all elements*/
*{
  // border: 1px solid green;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Lucida Sans Unicode', sans-serif;
  color: var(--c-white);
  line-height: 26px;
  min-height: 100vh;  
  background-color: var(--c-blue);
}
.wrapper {
  width: 100%;
  border: 25px solid var(--c-darkblue);
  margin: 0 auto;
  min-height: 100vh;
}
// Icons style
.wi{
  padding-left: 11px;
  padding-right: 11px;
}
