:root {
/* * Colors */
  --c-teal: #33CCCC;
  --c-pirple: #996699;
  --c-red: #C24747;
  --c-orange: #E2674A;
  --c-yellow: #FFCC66;
  --c-lightgreen:#99CC99;
  --c-darkgreen:#669999;
  --c-pink: #CC6699;
  --c-green:#339966;
  --c-violet: #666699;
  --c-blue: #3399CC;
  --c-darkblue: #2B81AC;
  --c-white: #ffffff;

}
