
/* *Wrapping block - Class App*/
.app{
    width: 60%; 
    margin: auto;
    text-align: center;
    line-height: 2rem; 
}
/* *Flex block */
.blocks{
    display: flex; 
    margin-left: 5%;
    margin-right: 5%;
 }

 /* Flex block item */
 .blocks-item{
    width: 45%;
    
 }
 .blocks-image{
    border-radius: 30%;
 }
 /* Flex block text */
 .blocks-text {
    color: forestgreen;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 5px 0px;
  
}
 /* *Headers  */
h1 {
     color: forestgreen;
     text-shadow: 2px 1px 2px grey;
 }

/* Green Bloks */
 .content-blocks{
     margin-top: 20px;
     background-color: darkseagreen;
     border-radius: 10px;
 }

 h3 {
     font-size: 1.5rem;
     margin-block-end: 0px;
     text-align: justify;
}

 h4 {
     font-size: 1.3rem;
     font-weight: 100;
     text-align: justify;
     margin-block-start: 0px;
     margin-block-end: 0px;
 }

 ul {
     margin-block-start: 0.1em;
     text-align: left;

 }
 p{
    margin-block-start: 0;
    margin-block-end: 0;
 }

 /* div{
            border: 1px solid black;
        }   */